/*
 * Coming Soon
 * MailChimp powered landing page template
 * by: Andy Brudtkuhl (@abrudtkuhl)
 */

#container {}
#main {}
.element {
	width: 760px;
	margin: 0 auto;
}
#main-box-content header { 
	border: none;
	border-bottom: solid 1px #CCC;
	background-color: #FFF;
	margin: 0;
	position: relative;
	width: 100%;
	height: 60px;
}

#main-box-content header h1 { 
	font-size: 30px;
}

#top { 
	background-image: url('img/comingsoon-bg-top.png');
	background-position: center top;
	background-repeat: repeat-x;
	margin: 0;
	position: relative;
	width: 100%;
	height: 46px;}

#form { 
	border: none;
	border-bottom: solid 1px #CCC;
	background: #FFF url('img/comingsoon-bg-bottom.png') center bottom repeat-x;
	margin: 0;
	position: relative;
	width: 100%;
	height: 241px;
}

.headline { font-size: 24px; font-family: georgia; font-style: italic;}

.mailchimp_form {
	border: solid 1px #CCC;
	background: #FFF url('img/comingsoon-bg-form.png') center top repeat-x;
	padding: 20px;
}

.form_field { 
	margin: 0 15px 15px .5em; background: #fff; border: 1px solid #888; padding: .7em 1em; margin-bottom: .5em; width: 200px; 
}

.form_button { 
	height: 35px;
	font-size: 20px; 
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #3D9400;
	background-image: -webkit-linear-gradient(top,#fb864f,#fb864f);
	background-image: -moz-linear-gradient(top,#fb864f,#fb864f);
	background-image: -ms-linear-gradient(top,#fb864f,#fb864f);
	background-image: -o-linear-gradient(top,#fb864f,#fb864f);
	background-image: linear-gradient(top,#fb864f,#fb864f);
	border: 1px solid #fb864f;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorStr='#fb864f',EndColorStr='#fb864f');
}